@font-face {
    font-family: 'Commuters Sans';
    src: local('Commuters Sans Regular'), local('Commuters-Sans-Regular'),
        url('../fonts/CommutersSans-Regular.woff2') format('woff2'),
        url('../fonts/CommutersSans-Regular.woff') format('woff'),
        url('../fonts/CommutersSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }